# Core
websockets~=8.0
colorlog~=4.0
aiohttp~=3.5
psutil~=5.4
ujson~=1.35
pyyaml~=5.1
pyserial-asyncio~=0.4
aiocontextvars~=0.2
jinja2~=2.10

python-geohash~=0.8
numpy~=1.15
pynmea2~=1.12
astral==1.6.1
