# Core
aiohttp~=3.5
colorlog~=4.0
jinja2>=2.10,<4
prometheus-async~=19.2
psutil~=5.4
pyserial-asyncio~=0.4
pyyaml~=5.1
ujson~=1.35
# It should evolve to this for py310:
websockets>=8.1; python_version<"3.10"
websockets>=10.0; python_version>="3.10"
typing-extensions~=3.7
docstring-parser~=0.7.3
